
eclipse_workspace/EncodingServer/.classpath
eclipse_workspace/EncodingServer/WebContent/WEB-INF/web.xml
eclipse_workspace/RemoteSystemsTempFiles/.project
eclipse_workspace/Servers/Tomcat v8.0 Server at localhost-config/server.xml
eclipse_workspace/EncodingServer/.classpath
