@CHARSET "UTF-8";

#headerMenu {
	position: fixed; 
	background: rgba(30, 30, 30, 0.75);
	border-bottom: 1px solid #262626;
	color: #fff; 
	width: 100%; 
	padding: 5px 15px; 
	z-index: 2;
	transition: background 1s ease 0s, border 1s ease 0s;
}
#headerMenu>h3 {
	display: inline-block;
}

#menuList {
	list-style: none;
	float: right;
	margin-bottom: 0px;
}
#menuList>li {
	display: inline-block;
	font-size: 1.8rem;
	margin: 20px;
}
#menuList>li>a {
	color: #fff;
	transition: color 0.3s ease 0s;
}
#menuList>li>a:hover {
	color: #ffbd2f;
	text-decoration: none;
}
#menuList>li>a:focus {
	text-decoration: none;
}